{% extends 'layout.twig' %}
{% block content %}
	<!--Facebook -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.9";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!--Facebook -->
	<div id="fh5co-page">
		<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
	{% include 'parts/menu.twig' %}

		<div id="fh5co-main">
			<div class="fh5co-narrow-content">
				<div class="row row-bottom-padded-md">
					<div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
						<img class="img-responsive" src="/assets/images/apropos.png" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
					</div>
					<div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
						<h2 class="fh5co-heading">A PROPOS DE MOI</h2>
						<p>Sabri Hamda, développeur web. je réalise des projets web pour une Clientèle du monde entier, Si mon coeur de métier est le développement, mon rôle au sein de votre projet est bien plus large et important : je suis votre référent et votre accompagnateur. </p>
						<ul class="list-group">
                    <li class="list-group-item color-yellow">
                        <div class="text-left"><i class="fas fa-user"></i> Date de naissance</div>
                        <div class="text-right">9 Mars 1980</div>
                    </li>
                    <li class="list-group-item color-orange-light">
                        <div class="text-left"><i class="fas fa-language"></i> Langues</div>
                        <div class="text-right">Anglais, Français, Arabe</div>
                    </li>
                    <li class="list-group-item color-orange">
                        <div class="text-left"><i class="fas fa-futbol"></i> Hobbies</div>
                        <div class="text-right">Basket-ball, Foot-ball, Music</div>
                    </li>
                    <li class="list-group-item color-red">
                        <div class="text-left"><i class="fas fa-external-link-alt"></i> Website</div>
                        <div class="text-right"><a style="color:#fff" href="https://hamda.ch">www.hamda.ch</a>
                        </div>
                    </li>
                    <li class="list-group-item color-pink">
                        <div class="text-left"><i class="fab fa-facebook"></i> Facebook</div>
                        <div class="text-right"><a href="#"><div class="fb-like" data-href="https://www.facebook.com/HAMDA-1383715418391839/" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div></a>
                        </div>
                    </li>
                </ul>
					</div>
				</div>
				<p>Je réalise tous types de projet web : aussi bien un site vitrine, e-commerce, sur mesure ou une application web... De plus, les sites internet développés sont également optimisés pour les différents navigateurs et moteurs de recherche. </p>
			</div>

			<div class="fh5co-narrow-content">
					<h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft">Mes Services</h2>
					<div class="row">
					<div class="col-md-6">
						<div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
							<div class="fh5co-icon">
								<i class="fa fa-paint-brush color-yellow"></i>
							</div>
							<div class="fh5co-text">
								<h3>Web Design</h3>
								<p>Votre identité de marque est créée sur mesure.Design de site internet Application web & mobile, Mise en page de contenu.</p>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
							<div class="fh5co-icon">
								<i class="fa fa-cogs color-orange"></i>
							</div>
							<div class="fh5co-text">
								<h3>Applications Web</h3>
								<p>Conception sure mesure, j'utilise les diferents languages de programation affin d'avoir un produit finale qui s'adapte parfaitement a vos besoins.</p>
							</div>
						</div>
					</div>

					<div class="col-md-6">
						<div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
							<div class="fh5co-icon">
								<i class="fa fa-eye color-pirple"></i>
							</div>
							<div class="fh5co-text">
								<h3>SEO</h3>
								<p>Votre site internet est développé avec pour objectif d'apparaître dans les premières pages sur les moteurs de recherche. 
Code source optimisé, Indexation automatique des liens, Intégration des différents réseaux sociaux.</p>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
							<div class="fh5co-icon">
								<i class="icon-params color-red"></i>
							</div>
							<div class="fh5co-text">
								<h3>Expertise</h3>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
							</div>
						</div>
					</div>
				</div>
				</div>
				<!-- mes competence -->
				<div class="fh5co-narrow-content">
					<h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft">Mes Competences</h2>
					<div class="row">
						<div class="col-md-12">
							<div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
								<div><h4>HTML</h4></div>
								<div class="progress">
									<div class="progress-bar progress-bar progress-bar-striped active color-yellow" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%">
									</div>
								</div>
							</div>
						</div>
					<div class="col-md-12">
							<div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
								<div><h4>CSS</h4></div>
								<div class="progress">
									<div class="progress-bar progress-bar progress-bar-striped active color-orange" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%">
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
								<div><h4>JQUERY</h4></div>
								<div class="progress">
									<div class="progress-bar progress-bar progress-bar-striped active color-red" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%">
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
								<div><h4>PHP</h4></div>
								<div class="progress">
									<div class="progress-bar progress-bar progress-bar-striped active color-pink" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%">
									</div>
								</div>
							</div>
						</div>
					<div class="col-md-12">
							<div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
								<div><h4>MYSQL</h4></div>
								<div class="progress">
									<div class="progress-bar progress-bar progress-bar-striped active color-pirple-light" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
								<div><h4>TWIG</h4></div>
								<div class="progress">
									<div class="progress-bar progress-bar progress-bar-striped active color-pirple" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
								<div><h4>WordPress</h4></div>
								<div class="progress">
									<div class="progress-bar progress-bar progress-bar-striped active color-blue" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%">
									</div>
								</div>
							</div>
						</div>

				</div>
				</div>
				<!-- mes competence end-->
		
			<div class="fh5co-narrow-content">
				<div class="row">
					<div class="col-md-4 animate-box" data-animate-effect="fadeInLeft">
						<h1 class="fh5co-heading-colored">Get in touch</h1>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
						<p class="fh5co-lead">Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
						<p><a href="#" class="btn btn-primary">Learn More</a></p>
					</div>
					
				</div>
			</div>
		</div>
	</div>

	<!-- jQuery -->
	<script src="/assets/js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="/assets/js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="/assets/js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="/assets/js/jquery.waypoints.min.js"></script>
	<!-- Flexslider -->
	<script src="/assets/js/jquery.flexslider-min.js"></script>
	
	
	<!-- MAIN JS -->
	<script src="/assets/js/main.js"></script>

{% endblock %}

