{% extends 'template.twig' %}
{% block content %}

	<div id="fh5co-page">
		<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
	{% include 'parts/menu.twig' %}

		<div id="fh5co-main">
			
			<div class="fh5co-narrow-content animate-box" data-animate-effect="fadeInLeft">
				
				<div class="row">
					<div class="col-md-4">
						<h2>S'enregistrer</h2>
					</div>
				</div>
				<form method="post" action="">
					<div class="row">
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										
										<select class="c-select form-control" name="civility" required>

											<option value="man">Je suis un Homme </option>
											<option value="woman">Je suis une Femme</option>
											
										</select>
									</div>
									<div class="form-group">
										<input type="text" name="prenom" class="form-control" placeholder="Prenom" required>
									</div>
									<div class="form-group">
										<input type="email" name="email" class="form-control" placeholder="Email" required>
									</div>
									
								</div>
								<div class="col-md-6">
								
									<div class="form-group">
										<input type="password" name="password" class="form-control" placeholder="Mot de passe" required>
									</div>
									<div class="form-group">
										<input type="password" name="passwordConfirm" class="form-control" placeholder="Confirmer le Mot de passe" required>
									</div>
									<div class="form-group">
										<input class="btn btn-primary btn-md" name="registerSubmit" value="S'enregistrer" type="submit">
									</div>
								</div>
								
							</div>
						</div>
						
					</div>
				</form>
			</div>
			<img src="public/assets/images/register-img.jpg" alt="image" width="100%" height="600px">
		</div>
	</div>

	<!-- jQuery -->
	<script src="public/assets/js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="public/assets/js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="public/assets/js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="public/assets/js/jquery.waypoints.min.js"></script>
	<!-- Flexslider -->
	<script src="public/assets/js/jquery.flexslider-min.js"></script>
	
	
	
	<!-- MAIN JS -->
	<script src="public/assets/js/main.js"></script>
{% endblock content %}

	
