{% extends 'template.twig' %}
{% block content %}

<div class="alert alert-danger" role="alert">Une erreur c'est produite</div>
<br>
<div class="alert alert-danger" role="alert">{{ error }} </div>';

{% endblock %}
