<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Register</title>
        <style type="text/css">
        body {margin: 0; padding: 0; min-width: 100%!important;}
        .content {width: 100%; max-width: 600px;}  
        </style>
    </head>
    <body bgcolor="#2d3038">
        <table width="100%" bgcolor="#2d3038" border="0" cellpadding="0" cellspacing="0" color="#2d3038">
            <tr>
                <td>
                    <table class="content" align="center" cellpadding="0" cellspacing="0" border="0">
                        <tr>
                            <td style="height:70px;background-color:#f4bf00;text-align:center;color:#fff;">
                                <h1>Inscription</h1>
                            </td>
                        </tr>
                        <tr>
                        	 <td style="height:400px;line-height:50px;background-color:whitesmoke;text-align:center">
                        	 	<p>Merci pour votre inscription, vous pouvez vous connecter en cliquant sur le bouton ci-desous.
                        	 		<div style="background-color:#873e95;width:200px;height:70px;line-height:70px;margin-left:auto;margin-right:auto;">
                        	 			<a href="http://localhost/projects/tutos/cours-openclassrooms/P5-PHP-BLOG/blog/" style="text-decoration:none;color:#fff">my blog</a>
                        	 		</div>

                        	 	</p>
                        	 	
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>
