{% extends 'backendTemplate.twig' %}
{% block content %}
<section class="dashboard-content animate-box fadeIn animated">
   {% include 'parts/menu.twig' %}
   <ol class="breadcrumb">
      <li><a href="index.php?action=dashboard">Dashboard</a></li>
      <li class="active">Articles</li>
         
   </ol>
   <div class="container-fluid center">
      <div class="row" style="margin:auto;">
         <div class="widget-left col-md-2 color-grey">
            {% include('parts/quickView.twig') %}
            {% include('parts/profile.twig') %}
         </div>
         <div class="col-md-10 animate-box fadeInLeft animated" style="float:right">
            {% include('parts/commentsPaginate.twig') %}
         </div>
      </div>
   </div>
</section>
<script src="vendor/components/jquery/jquery.min.js"></script>
<script src="public/assets/js/jquery.easing.1.3.js"></script>
<script src="vendor/twbs/bootstrap/dist/js/bootstrap.min.js"></script>
<!--<script src="public/assets/js/jquery.waypoints.min.js"></script>-->
<!--<script src="public/assets/js/jquery.flexslider-min.js"></script>-->
<!--<script src="public/assets/js/main.js"></script>-->
{% endblock content %}